@import '../variables.scss';

section.about-section {
    max-width: 50rem;
    margin: auto;
    background-color: $background-light;
    line-height: 1.7rem;
    letter-spacing: 0.05rem;
    font-kerning: none;
    article.about-article {
      div.container{
        display: flex;
        img{
          width:50%;
          height:50%;
          margin: 2rem 1rem 2rem 0;
          box-shadow: 0 4px 8px rgba(0,0,0,0.05), 0 8px 20px rgba(0,0,0,0.05);
        }
        p {
          width:50%;
          padding:1rem;
         text-align: justify;
        }
        @media (max-width:500px) {
          display:block;
          img {
            width:80%;
            height:80%;
          }
          p{
            width: auto;
          }
        }
      } 
      @media (max-width:500px) {
      margin: 0;
  
      }
      div.popup-content-container{
        margin-top: 0.5rem;
        border-radius: 1rem;
        width: 100%;
        background-color: $secondary;
        font-size: 1rem;

        a {
          color: $secondary-dark;
        }
        span {
          position: relative;
          top:-1.5rem;
          color: $secondary-dark;
        }
        svg{
          @media (max-width:500px) {
            width: 2rem;
          }
          width:3rem;
          path{
            fill: $secondary-dark;
          }
        }
      }
    }
    header {
      padding-top: 1rem;
      background-color: $secondary;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      height: 10rem;
      h1 {
        font-size: 4rem;
        color: $secondary-dark;
        font-weight: 400;
      }
      @media (max-width: 500px) {
        padding-bottom: -2rem;
        height: 5rem;

        h1 {
          font-size: 2rem;
        }
      }
    }
  }
